################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Home
/HomeOne/bin
/HomeOne/obj/Debug
/packages
